body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1137;
  }
  
  div {
    text-align: center;
    background-color: #a2d5c6;
    padding: 10px;
  }
  
  .output {
    text-align: center; 
    color: white; 
    font-size: 20px;
  }
  
  .active {
    margin: 40px;
    padding: 50px;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: #d72631;
    border-radius: 30px;
    cursor: pointer;
  }